/**
 * (c) Meta Platforms, Inc. and affiliates. Confidential and proprietary.
 */

.refTable tr {
  border-top: 1px solid silver;
}
.refTable tr:nth-child(2n) {
  background: none;
}
.refTable th {
  text-align: left;
  padding: 0.2em;
  margin: 0.2em;
  border: none;
}
.refTable td {
  padding: 0.2em;
  margin: 0.2em;
  border: none;
}
.refTable p {
  margin: 0;
}

.topAlign {
  vertical-align: top;
}

.lighthighlight {
  background-color: rgba(169, 232, 231, 0.2);
  border-radius: 0.3em;
}

ul li p {
  margin: 0;
}
