*.[oad]
/bin*-g
/bin*-O
/bin/*.so

/src/compiler/analysis/code_error.inc
/src/compiler/analysis/dependency.inc

/src/test/test
/src/test/test_fast.inc
/src/test/test_mysql_info.inc
/src/test/test_suite.inc
/src/test/*.tmp

/src/hphp/hphp

/src/runtime/tmp/Test*
/src/runtime/tmp/run
/src/runtime/tmp/run.sh

/src/hphpi/gen
/src/hphpi/hphpi
/src/tools/shmw/shmw

/src/ffi/java/classes
/src/ffi/java/hphp_ffi_java.h

/facebook/autoload_files
/facebook/hotcold.hdf
/facebook/libcore_files
/facebook/output_*
/facebook/push/install
/facebook/stub_funcs.hdf
/facebook/volatile.hdf

/facebook/push/apc
/facebook/push/apclog
/facebook/push/autoload_files
/facebook/push/hotcold.hdf
/facebook/push/output_www
/facebook/push/system.tgz
/facebook/push/volatile.hdf

/facebook/extensions/*/*.so
/facebook/extensions/string/test_string
/facebook/extensions/photodna/test_photodna
/facebook/extensions/utils/test_utils
/facebook/extensions/fbobj_cache/test_fbobj_cache
/local/*.mk

CMakeFiles
CMakeCache.txt
cmake_install.cmake

/output_gd/
