*.[oad]
*.hhbc
.mkdir
hphp.log

/hphp/test/test
/hphp/test/test_fast.inc
/hphp/test/test_mysql_info.inc
/hphp/test/test_suite.inc
/hphp/test/real_mysql_info.inc
/hphp/test/*.tmp
/hphp/test/vm/*.out
/hphp/test/vm/*.diff
/hphp/test/vm/*.log
/hphp/test/vm/*.reduce_out
/hphp/test/vm/*.reduce_diff
/hphp/test/vm/*.reduce_exp
/hphp/test/vm/*.perf
/hphp/test/vm/perf/*.out
/hphp/test/vm/perf/*.diff
/hphp/test/vm/perf/*.perf
/hphp/runtime/ext_hhvm/ext_noinline.cpp
/hphp/compiler/analysis/code_error.inc
/hphp/runtime/ext/*/CMakeLists.txt
/hphp/runtime/ext/*/*.so

/hphp/runtime/tmp/Test*
/hphp/runtime/tmp/run
/hphp/runtime/tmp/run.sh
/hphp/runtime/tmp/libtest.so
/hphp/hphp-build-info.cpp
/hphp/hphp-repo-schema.h

/hphp/hhvm/gen
/hphp/hhvm/hhvm

*.ext_hhvm.cpp
*.ext_hhvm.h
/hphp/runtime/ext_hhvm/ext_hhvm_infotabs.cpp
/hphp/runtime/ext_hhvm/ext_hhvm_infotabs.h

/hphp/tools/shmw/shmw

/hphp/ffi/java/classes
/hphp/ffi/java/hphp_ffi_java.h

CMakeFiles
CMakeCache.txt
cmake_install.cmake
install_manifest.txt

/output_gd/

/hphp/TAGS

/hphp/third_party/libzip/libzip.dylib

# Generated makefiles
/hphp/runtime/ext_hhvm/Makefile
/hphp/test/Makefile
/hphp/hack/Makefile
/hphp/hphp/Makefile
/hphp/hhvm/Makefile
/hphp/compiler/Makefile
/hphp/Makefile
/Makefile

# eclipse files
.project
.cproject
.settings

# vim files
.*.swp
.*.swo
*.vimrc
.syntastic_cpp_config
*~

# tags files
tags
TAGS
