[submodule "__FORKS__"]
	path = third-party/forks
	url = https://github.com/hhvm/hhvm-third-party.git
[submodule "fastlz"]
	path = third-party/fastlz/src
	url = https://github.com/ariya/FastLZ
[submodule "fatal"]
	path = third-party/fatal
	url = https://github.com/facebook/fatal
[submodule "fb303"]
	path = third-party/fb303/src
	url = https://github.com/facebookincubator/fb303.git
[submodule "fizz"]
	path = third-party/fizz/src
	url = https://github.com/facebookincubator/fizz
[submodule "libafdt"]
	path = third-party/libafdt/src
	url = https://github.com/facebook/libafdt
[submodule "mcrouter"]
	path = third-party/mcrouter/src
	url = https://github.com/facebook/mcrouter
[submodule "proxygen"]
	path = third-party/proxygen/src
	url = https://github.com/facebook/proxygen
[submodule "re2"]
	path = third-party/re2/src
	url = https://github.com/google/re2.git
[submodule "squangle"]
	path = third-party/squangle/src
	url = https://github.com/facebook/squangle.git
[submodule "thrift"]
	path = third-party/thrift/src
	url = https://github.com/facebook/fbthrift.git
[submodule "wangle"]
	path = third-party/wangle/src
	url = https://github.com/facebook/wangle
[submodule "xed-mbuild"]
	path = third-party/xed/mbuild
	url = https://github.com/intelxed/mbuild.git
[submodule "xed-xed"]
	path = third-party/xed/xed
	url = https://github.com/intelxed/xed.git
