*.[oad]
*.hhbc
/bin*-g
/bin*-O
/bin/*.so
/bin/hphp_options
/bin/systemlib.php
.mkdir
hphp.log

/src/compiler/analysis/code_error.inc
/src/compiler/analysis/dependency.inc
/src/runtime/base/memory/smart_allocator.inc_gen

/src/test/test
/src/test/test_fast.inc
/src/test/test_mysql_info.inc
/src/test/test_suite.inc
/src/test/real_mysql_info.inc
/src/test/*.tmp
/src/test/vm/*.out
/src/test/vm/*.diff
/src/test/vm/*.log
/src/test/vm/*.reduce_out
/src/test/vm/*.reduce_diff
/src/test/vm/*.reduce_exp
/src/test/vm/*.perf
/src/test/vm/perf/*.out
/src/test/vm/perf/*.diff
/src/test/vm/perf/*.perf
/src/runtime/ext_hhvm/xconstants.php
/src/runtime/ext_hhvm/ext_hhvm_infotabs.cpp
/src/runtime/ext_hhvm/ext_noinline.cpp

/src/hphp/hphp

/src/runtime/tmp/Test*
/src/runtime/tmp/run
/src/runtime/tmp/run.sh
/src/runtime/tmp/libtest.so
/src/runtime/vm/repo_schema.h
/src/runtime/base/compiler_id.h

/src/hphpi/gen
/src/hphpi/hphpi

/src/hhvm/gen
/src/hhvm/hhvm

/src/tools/shmw/shmw

/tools/tc-print/tc-print

/src/ffi/java/classes
/src/ffi/java/hphp_ffi_java.h

# Ignore all makefiles generated for fbcode's third-party repo
/bin/*.mk
!/bin/run.mk

/facebook/arcanist/.phutil_module_cache

/facebook/autoload_files
/facebook/hotcold.hdf
/facebook/benchmark/shootout/output_bench
/facebook/benchmark/shootout/output_bintree_new
/facebook/libcore_files
/facebook/output_*
/facebook/push/install
/facebook/stub_funcs.hdf
/facebook/volatile.hdf
/facebook/www.pid

/facebook/push/apc
/facebook/push/apclog
/facebook/push/autoload_files
/facebook/push/hotcold.hdf
/facebook/push/output_www
/facebook/push/system.tgz
/facebook/push/volatile.hdf
/facebook/push/stub_funcs.hdf
/facebook/push/output
/facebook/push/shared

/facebook/extensions/gen
/facebook/extensions/hphpi
/local/*.mk

CMakeFiles
CMakeCache.txt
cmake_install.cmake

/output_gd/

/src/TAGS

# arcanist working-copy settings
.arc/

# fbcode output directory
/bin/_fbcode_bin/

# Generated makefiles
/src/third_party/lz4/Makefile
/src/runtime/ext_hhvm/Makefile
/src/test/Makefile
/src/hphp/Makefile
/src/compiler/Makefile
/src/Makefile
/Makefile

# eclipse files
.project
.cproject
.settings
