language: cpp

compiler:
  - gcc

before_script: 
  - ./configure_ubuntu_12.04.sh
# for some tests  
  - sudo locale-gen de_DE && sudo locale-gen zh_CN.utf8 && sudo locale-gen fr_FR
  - HPHP_HOME=`pwd` make -j 6

env:
  - TEST_RUN_MODE="-m jit"
  - TEST_RUN_MODE="-m jit -r"
  - TEST_RUN_MODE="-m interp"
  - TEST_RUN_MODE="-m interp -r"

script: hphp/hhvm/hhvm hphp/test/run $TEST_RUN_MODE all

notifications:
  irc: "chat.freenode.net#hhvm"
