*.expect-trimmed
*.errors
*.fatals
*.out
*.round_trip.hhas
*.repo
*.stats
*.testfiles
*.tests
*.tmp
*.log
*.log.old
/frameworks/composer.json.md5
/frameworks/composer.lock
/frameworks/composer.phar
/frameworks/framework_downloads
/frameworks/vendor
