Package: hiphop-php-doc
Source: hiphop-php
Version: 0.1-1
Architecture: all
Maintainer: James Michael DuPont <JamesMikeDuPont@googlemail.com> Build-Depends: debhelper (>= 7), cmake, libtbb-dev, libmcrypt-dev, re2c, binutils-dev, libonig-dev, libmysqlclient15-dev, libgd-dev, build-essential, git, debhelper, libtbb-dev, libmcrypt-dev, re2c, binutils-dev, libonig-dev, libmysqlclient15-dev, libgd2-xpm-dev, libmemcached-dev, libboost-all-dev, libpcre3-dev, libevent-dev, libboost-all-dev, libxml2-dev, libbz2-dev, libncurses-dev, libreadline-dev, libc-client2007e-dev, libcap-dev, autoconf, automake, autotools-dev, bison, curl, flex, libapr1, libaprutil1, libaprutil1-dbd-sqlite3, libaprutil1-ldap, libcurl4-openssl-dev, libltdl-dev, libltdl7, libmhash2, libqdbm14, libssh2-1-dev, libtool, m4, mcrypt, php5-cli, php5-common, php5-dev, php5-suhosin, shtool, ssl-cert
Installed-Size: 32
Section: unknown
Priority: extra
Homepage: http://github.com/h4ck3rm1k3/hiphop-php
Description: documentation for hiphop-php
  experimental debian packaging
