# NOTE there must be no spaces before the '-', so put the comma after.
# When making changes, be sure to verify the output of the following command to ensure
# the desired checks are enabled (run from the directory containing a .clang-tidy file):
# `clang-tidy -list-checks`
# NOTE: Please don't disable inheritance from the parent to make sure that common checks get propagated.
---
InheritParentConfig: true
Checks: '
-facebook-hte-FormatPointlessCall_Fmt,
-facebook-hte-FormatPointlessCall_Folly,
-facebook-hte-InlinedStaticLocalVariableWarning,
-facebook-hte-LocalUncheckedArrayBounds,
-facebook-hte-MemberUncheckedArrayBounds,
-facebook-hte-MissingBraces,
-facebook-hte-NullableDereference,
-facebook-hte-NullableReturn,
-facebook-hte-ParameterUncheckedArrayBounds,
-facebook-hte-BadImplicitCast,
-facebook-reserve,
'
...
