# HHVM build results
*.hhbc
*.[oa]
/hhvm/hhbbc
/hhvm/hhvm
/hhvm/hphp
/hhvm/php

# CMake build artifacts
CMakeFiles
/CMakeCache.txt
cmake_install.cmake
Makefile
/compiler/analysis/code_error.inc
/runtime/ir-opcode-generated.h
/hphp-build-info.cpp
/hphp-repo-schema.h
/scan-methods/all-scan.h
/scan-methods/all-scan-decl.h

# precompiled headers
*_cotire.cmake
cotire

# vim swapfiles
.*.swp
.*.swo

# vim config
.vimrc

# tags files
tags
TAGS

# logs
*.log

# git patch files
*.diff

# OS X
.DS_Store
._.DS_Store

# gdb
.gdb_history
tools/gdb/hhvm-gdb
