# HHVM build results
*.hhbc
*.[oa]
/hhvm/hhbbc
/hhvm/hhvm
/hhvm/hphp
/hhvm/php

# CMake build artifacts
CMakeFiles
/CMakeCache.txt
cmake_install.cmake
Makefile
/runtime/ir-opcode-generated.h
/util/generated-compiler-id.txt
/util/generated-repo-schema-id.txt
/util/hphp-config.h

# precompiled headers
*_cotire.cmake
cotire

# vim swapfiles
.*.swp
.*.swo

# vim config
.vimrc

# tags files
tags
TAGS

# logs
*.log

# git patch files
*.diff

# OS X
.DS_Store
._.DS_Store

# gdb
.gdb_history
tools/gdb/hhvm-gdb

*.merlin
