test/more_tests/*.diff
test/more_tests/*.out
test/suggest/*.diff
test/suggest/*.out
bin/
src/inotify-1.0/
src/_build/
src/parsing/parser.output
src/parsing/lexer.ml
src/parsing/lexer_hack.ml
src/parsing/parser.ml
src/parsing/parser.mli
*.cm*
*.o
.depend
*.so
*.annot
*.opt
