<?hh
<<file: __EnableUnstableFeatures('case_types', 'like_type_hints')>>

<<__EntryPoint>>
function main(): void {
  $threw = false;
  try {
    invoke_statement#1
  } catch (Exception $error) {
    invariant($error->getMessage() === 'milner expected nothing', 'unexpected exception');
    $threw = true;
  }
  invariant($threw === CALLABLE_THROWS#1, 'call completion');
}
