<?hh
<<file: __EnableUnstableFeatures('case_types', 'like_type_hints')>>

<<__EntryPoint>> function main(): void {
  $pointer = (identity_widen_pointer#1)(identity_child_pointer#1);
  $expected = (identity_widen_name#1)(identity_child_name#1);
  invariant(vec[(identity_pointer_name#1)($pointer), (identity_static#1)($pointer)] === vec[$expected, $expected], 'pointer/name conversion and late-static identity');
  $object = (identity_construct#1)($pointer, expr#1);
  invariant(vec[(identity_object_name#1)($object)] === vec[$expected], 'object late-static identity');
  invariant(vec[(identity_static#1)(identity_base_pointer#1)] === vec[identity_base_name#1], 'base static identity');
}
