<?hh
<<file: __EnableUnstableFeatures('case_types', 'like_type_hints')>>
function invoke<T>((function()[_]: T) $callback)[ctx $callback]: T {
  return $callback();
}
final class State { public int $calls = 0; }
<<__EntryPoint>>
function main(): void {
  $state = new State();
  $value = expr#0;
  $callback = ()[write_props]: TYPE#0 ==> { ++$state->calls; return $value; };
  $result = invoke($callback);
  invariant($state->calls === 1, 'effect occurs once');
  invariant(vec[$result] === vec[$value], 'return value');
}
