<?hh
<<file: __EnableUnstableFeatures('case_types', 'like_type_hints')>>
function invoke<T>((function()[_]: T) $callback)[ctx $callback]: T {
  return $callback();
}
final class State { public static int $calls = 0; }
<<__EntryPoint>>
function main(): void {
  $value = expr#0;
  $callback = ()[globals]: TYPE#0 ==> { ++State::$calls; return $value; };
  $result = invoke($callback);
  invariant(State::$calls === 1, 'effect occurs once');
  invariant(vec[$result] === vec[$value], 'return value');
}
