<?hh
<<file: __EnableUnstableFeatures('case_types')>>
<<file: __EnableUnstableFeatures('like_type_hints')>>

function consume(TYPE#1 $_): void {}

function exercise(TYPE#1 $value): void {
  $values = vec[$value];
  $values[] = $value;
  foreach ($values as $element) {
    consume($element);
  }
  $mapping = dict['first' => $value];
  $mapping['second'] = $value;
  consume($mapping['first']);
  foreach ($mapping as $_key => $element) {
    consume($element);
  }
  $record = shape('value' => $value);
  $record['value'] = $value;
  consume($record['value']);
  if (
    $values !== vec[$value, $value] ||
    $mapping !== dict['first' => $value, 'second' => $value]
  ) {
    throw new Exception('Collection round trip changed the value');
  }
}

<<__EntryPoint>>
function main(): void {
  exercise(expr#1);
}
