<?hh

<<file: __EnableUnstableFeatures('union_intersection_type_hints')>>
<<file: __EnableUnstableFeatures('case_types')>>
<<file: __EnableUnstableFeatures('like_type_hints')>>

function takes_reflection((TYPE#2 | TYPE#1) $_): void {}

function main((TYPE#1 | TYPE#2) $e): void {
    takes_reflection($e);
}
