<?hh

<<file: __EnableUnstableFeatures('union_intersection_type_hints')>>
<<file: __EnableUnstableFeatures('case_types')>>
<<file: __EnableUnstableFeatures('like_type_hints')>>

function takes_reflection((INTERSECTION_TYPE#2 & INTERSECTION_TYPE#1) $_): void {}

function main((INTERSECTION_TYPE#1 & INTERSECTION_TYPE#2) $e): void {
    takes_reflection($e);
}
