<?hh
<<file: __EnableUnstableFeatures('case_types', 'like_type_hints')>>

function put_get(DEPENDENT_REFINED#1 $object, TYPE#1 $value)[write_props]: DEPENDENT_ITEM#1 {
  $object->set($value);
  return $object->get();
}

<<__EntryPoint>> function main(): void {
  $object = new DEPENDENT_CLASS#1(expr#1);
  $next = another#1;
  invariant(vec[put_get($object, $next)] === vec[$next], 'dependent mutation and concrete type constant');
}
