<?hh
<<file: __EnableUnstableFeatures('case_types', 'like_type_hints')>>

<<__EntryPoint>> function main(): void {
  $member = enum_member#1;
  $label = enum_label#1;
  $looked_up = (enum_lookup#1)($label);
  invariant(vec[(enum_unwrap#1)($member)] === vec[(enum_unwrap#1)($looked_up)], 'member/label agreement');
  $child = enum_child_member#1;
  $child_lookup = (enum_lookup_narrow#1)(enum_child_label#1);
  invariant(vec[(enum_unwrap_narrow#1)($child)] === vec[(enum_unwrap_narrow#1)($child_lookup)], 'narrow member/label agreement');
}
