<?hh
<<file: __EnableUnstableFeatures('case_types')>>
<<file: __EnableUnstableFeatures('like_type_hints')>>

<<__EntryPoint>> function main(): void {
  $value = expr#1;
  $object = (construct#1)($value);
  $read = (read#1)($object);
  invariant(vec[$read] === vec[$value], 'construction preserves payload');
}
