<?hh

<<file: __EnableUnstableFeatures('union_intersection_type_hints')>>
<<file: __EnableUnstableFeatures('case_types')>>
<<file: __EnableUnstableFeatures('like_type_hints')>>

function proj1(TYPE#1 $_): void {}
function proj2(TYPE#2 $_): void {}

function main((TYPE#1 & TYPE#2) $e): void {
    proj1($e);
    proj2($e);
}
