<?hh
<<file: __EnableUnstableFeatures('case_types')>>
<<file: __EnableUnstableFeatures('like_type_hints')>>

<<__EntryPoint>> function main(): void {
  $object = (construct#1)(expr#1);
  $value = another#1;
  (interface_write#1)($object, $value);
  $read = (interface_read#1)($object);
  invariant(vec[$read] === vec[$value], 'interface read after write');
}
