//// modules.php
<?hh
new module milner {}
//// library.php
<?hh
<<file: __EnableUnstableFeatures('case_types', 'like_type_hints')>>
module milner;
internal function id(TYPE#0 $value)[]: TYPE#0 { return $value; }
//// main.php
<?hh
<<file: __EnableUnstableFeatures('case_types', 'like_type_hints')>>
module milner;
<<__EntryPoint>>
function main(): void {
  require_once __DIR__.'/modules.php';
  require_once __DIR__.'/library.php';
  $value = expr#0;
  $actual = id($value);
  invariant(vec[$actual] === vec[$value], 'internal call preserves payload');
}
