<?hh
<<file: __EnableUnstableFeatures('case_types')>>
<<file: __EnableUnstableFeatures('like_type_hints')>>

<<__EntryPoint>> function main(): void {
  $value = expr#1;
  $result = (identity#1)($value);
  invariant(vec[$result] === vec[$value], 'static identity');
}
