<?hh
<<file: __EnableUnstableFeatures('case_types')>>
<<file: __EnableUnstableFeatures('like_type_hints')>>

<<__EntryPoint>> function main(): void {
  $object = (construct#1)(expr#1);
  $direct = (read#1)($object);
  $trait = (trait_read#1)($object);
  $interface = (interface_read#1)($object);
  invariant(vec[$direct] === vec[$trait], 'trait agrees with direct access');
  invariant(vec[$direct] === vec[$interface], 'interface agrees with direct access');
}
