<?hh
<<file: __EnableUnstableFeatures('case_types', 'like_type_hints')>>

<<__EntryPoint>>
function main(): void {
  $payload = (xhp_box#0)(expr#0);
  $node = (xhp_make#0)($payload, xhp_child#0);
  $actual = (xhp_attribute#0)($node);
  invariant(vec[$actual] === vec[$payload], 'XHP attribute identity');
}
