<?hh
<<file: __EnableUnstableFeatures('case_types', 'like_type_hints')>>

<<__EntryPoint>>
function main(): void {
  $child = xhp_child#0;
  $node = (xhp_make#0)((xhp_box#0)(expr#0), $child);
  $actual = (xhp_children#0)($node);
  invariant($actual === vec[$child], 'XHP child preservation');
}
