.rougeHighlight { background-color: $code-bg; color: #4153d9 }
.rougeHighlight .c { color: #586e75 } /* Comment */
.rougeHighlight .err { color: #606e6e } /* Error */
.rougeHighlight .g { color: #606e6e } /* Generic */
.rougeHighlight .k { color: #2a5547 } /* Keyword */
.rougeHighlight .l { color: #606e6e } /* Literal */
.rougeHighlight .n { color: #606e6e } /* Name */
.rougeHighlight .o { color: #2a5547 } /* Operator */
.rougeHighlight .x { color: #c0392b } /* Other */
.rougeHighlight .p { color: #606e6e } /* Punctuation */
.rougeHighlight .cm { color: #586e75 } /* Comment.Multiline */
.rougeHighlight .cp { color: #2a5547 } /* Comment.Preproc */
.rougeHighlight .c1 { color: #008000; } /* Comment.Single */
.rougeHighlight .cs { color: #2a5547 } /* Comment.Special */
.rougeHighlight .gd { color: #1d706a } /* Generic.Deleted */
.rougeHighlight .ge { color: #606e6e; font-style: italic } /* Generic.Emph */
.rougeHighlight .gr { color: #d50000 } /* Generic.Error */
.rougeHighlight .gh { color: #c0392b } /* Generic.Heading */
.rougeHighlight .gi { color: #2a5547 } /* Generic.Inserted */
.rougeHighlight .go { color: #606e6e } /* Generic.Output */
.rougeHighlight .gp { color: #606e6e } /* Generic.Prompt */
.rougeHighlight .gs { color: #606e6e; font-weight: bold } /* Generic.Strong */
.rougeHighlight .gu { color: #c0392b } /* Generic.Subheading */
.rougeHighlight .gt { color: #606e6e } /* Generic.Traceback */
.rougeHighlight .kc { color: #c0392b } /* Keyword.Constant */
.rougeHighlight .kd { color: #1460aa } /* Keyword.Declaration */
.rougeHighlight .kn { color: #2a5547 } /* Keyword.Namespace */
.rougeHighlight .kp { color: #2a5547 } /* Keyword.Pseudo */
.rougeHighlight .kr { color: #1460aa } /* Keyword.Reserved */
.rougeHighlight .kt { color: #d50000 } /* Keyword.Type */
.rougeHighlight .ld { color: #606e6e } /* Literal.Date */
.rougeHighlight .m { color: #1d706a } /* Literal.Number */
.rougeHighlight .s { color: #1d706a } /* Literal.String */
.rougeHighlight .na { color: #606e6e } /* Name.Attribute */
.rougeHighlight .nb { color: #8d6708 } /* Name.Builtin */
.rougeHighlight .nc { color: #1460aa } /* Name.Class */
.rougeHighlight .no { color: #c0392b } /* Name.Constant */
.rougeHighlight .nd { color: #1460aa } /* Name.Decorator */
.rougeHighlight .ni { color: #c0392b } /* Name.Entity */
.rougeHighlight .ne { color: #c0392b } /* Name.Exception */
.rougeHighlight .nf { color: #1460aa } /* Name.Function */
.rougeHighlight .nl { color: #606e6e } /* Name.Label */
.rougeHighlight .nn { color: #606e6e } /* Name.Namespace */
.rougeHighlight .nx { color: #606e6e } /* Name.Other */
.rougeHighlight .py { color: #606e6e } /* Name.Property */
.rougeHighlight .nt { color: #1460aa } /* Name.Tag */
.rougeHighlight .nv { color: #1460aa } /* Name.Variable */
.rougeHighlight .ow { color: #2a5547 } /* Operator.Word */
.rougeHighlight .w { color: #606e6e } /* Text.Whitespace */
.rougeHighlight .mf { color: #1d706a } /* Literal.Number.Float */
.rougeHighlight .mh { color: #1d706a } /* Literal.Number.Hex */
.rougeHighlight .mi { color: #1d706a } /* Literal.Number.Integer */
.rougeHighlight .mo { color: #1d706a } /* Literal.Number.Oct */
.rougeHighlight .sb { color: #586e75 } /* Literal.String.Backtick */
.rougeHighlight .sc { color: #1d706a } /* Literal.String.Char */
.rougeHighlight .sd { color: #606e6e } /* Literal.String.Doc */
.rougeHighlight .s2 { color: #1d706a } /* Literal.String.Double */
.rougeHighlight .se { color: #c0392b } /* Literal.String.Escape */
.rougeHighlight .sh { color: #606e6e } /* Literal.String.Heredoc */
.rougeHighlight .si { color: #1d706a } /* Literal.String.Interpol */
.rougeHighlight .sx { color: #1d706a } /* Literal.String.Other */
.rougeHighlight .sr { color: #d50000 } /* Literal.String.Regex */
.rougeHighlight .s1 { color: #1d706a } /* Literal.String.Single */
.rougeHighlight .ss { color: #1d706a } /* Literal.String.Symbol */
.rougeHighlight .bp { color: #1460aa } /* Name.Builtin.Pseudo */
.rougeHighlight .vc { color: #1460aa } /* Name.Variable.Class */
.rougeHighlight .vg { color: #1460aa } /* Name.Variable.Global */
.rougeHighlight .vi { color: #1460aa } /* Name.Variable.Instance */
.rougeHighlight .il { color: #1d706a } /* Literal.Number.Integer.Long */

.highlighter-rouge {
  color: #ab2626;
  font: 12px/1.5em Hack, monospace;
  max-width: 100%;

  .rougeHighlight {
    border-radius: 3px;
    margin: 20px 0;
    padding: 0px;
    -webkit-overflow-scrolling: touch;

    table {
      background: none;
      border: none;

      tbody {
        tr {
          background: none;
          display: flex;
          flex-flow: row nowrap;

          td {
            display: block;
            flex: 1 1;

            &.gutter {
              display: none; /* Remove if you want a gutter with line nums */
              border-right: 1px solid lighten(black, 10%);
              color: lighten(black, 15%);
              margin-right: 10px;
              max-width: 40px;
              padding-right: 10px;

              pre {
                max-width: 20px;
              }
            }
          }
        }
      }
    }
  }
}

p > .highlighter-rouge,
li > .highlighter-rouge,
a > .highlighter-rouge {
  font-size: 16px;
  font-weight: 400;
  line-height: inherit;
}

a:hover {
  .highlighter-rouge {
    color: white;
  }
}
