*/Zend/tests/multibyte/multibyte_encoding_001.php -diff
*/Zend/tests/multibyte/multibyte_encoding_003.php -diff
*/Zend/tests/multibyte/multibyte_encoding_004.php -diff
*/Zend/tests/multibyte/multibyte_encoding_004.php.expectf -diff
*/Zend/tests/multibyte/multibyte_encoding_005.php -diff
*/Zend/tests/multibyte/multibyte_encoding_006.php -diff
*/ext/bz2/tests/004_1.txt.bz2 -diff
*/ext/bz2/tests/004_1.txt.bz2 -diff
*/ext/bz2/tests/004_2.txt.bz2 -diff
*/ext/bz2/tests/004_2.txt.bz2 -diff
*/ext/calendar/tests/jdtojewish.php.expectf -diff
*/ext/exif/tests/bug34704.jpg -diff
*/ext/exif/tests/bug34704.jpg -diff
*/ext/exif/tests/bug48378.jpeg -diff
*/ext/exif/tests/bug48378.jpeg -diff
*/ext/exif/tests/bug60150.jpg -diff
*/ext/exif/tests/bug60150.jpg -diff
*/ext/exif/tests/bug62523_2.jpg -diff
*/ext/exif/tests/bug62523_2.jpg -diff
*/ext/exif/tests/exif003.php.expectf -diff
*/ext/exif/tests/exif_encoding_crash.jpg -diff
*/ext/exif/tests/exif_encoding_crash.jpg -diff
*/ext/exif/tests/image007.jpg -diff
*/ext/exif/tests/image007.jpg -diff
*/ext/exif/tests/image008.jpg -diff
*/ext/exif/tests/image008.jpg -diff
*/ext/exif/tests/image009.jpg -diff
*/ext/exif/tests/image009.jpg -diff
*/ext/exif/tests/image010.jpg -diff
*/ext/exif/tests/image010.jpg -diff
*/ext/exif/tests/image011.jpg -diff
*/ext/exif/tests/image011.jpg -diff
*/ext/exif/tests/image012.jpg -diff
*/ext/exif/tests/image012.jpg -diff
*/ext/exif/tests/image013.jpg -diff
*/ext/exif/tests/image013.jpg -diff
*/ext/exif/tests/image014.jpg -diff
*/ext/exif/tests/image014.jpg -diff
*/ext/exif/tests/image015.jpg -diff
*/ext/exif/tests/image015.jpg -diff
*/ext/exif/tests/image016.tiff -diff
*/ext/exif/tests/image016.tiff -diff
*/ext/exif/tests/image017.tiff -diff
*/ext/exif/tests/image017.tiff -diff
*/ext/exif/tests/image018.tiff -diff
*/ext/exif/tests/image018.tiff -diff
*/ext/exif/tests/image020.tiff -diff
*/ext/exif/tests/image020.tiff -diff
*/ext/exif/tests/image021.tiff -diff
*/ext/exif/tests/image021.tiff -diff
*/ext/exif/tests/image022.tiff -diff
*/ext/exif/tests/image022.tiff -diff
*/ext/exif/tests/image023.tiff -diff
*/ext/exif/tests/image023.tiff -diff
*/ext/exif/tests/image024.jpg -diff
*/ext/exif/tests/image024.jpg -diff
*/ext/exif/tests/image025.jpg -diff
*/ext/exif/tests/image025.jpg -diff
*/ext/exif/tests/image026.tiff -diff
*/ext/exif/tests/image026.tiff -diff
*/ext/exif/tests/image027.tiff -diff
*/ext/exif/tests/image027.tiff -diff
*/ext/exif/tests/test1.jpg -diff
*/ext/exif/tests/test1.jpg -diff
*/ext/exif/tests/test2.jpg -diff
*/ext/exif/tests/test2.jpg -diff
*/ext/exif/tests/test5.jpg -diff
*/ext/exif/tests/test5.jpg -diff
*/ext/fileinfo/tests/resources/dir.zip -diff
*/ext/fileinfo/tests/resources/dir.zip -diff
*/ext/fileinfo/tests/resources/test.bmp -diff
*/ext/fileinfo/tests/resources/test.bmp -diff
*/ext/fileinfo/tests/resources/test.gif -diff
*/ext/fileinfo/tests/resources/test.gif -diff
*/ext/fileinfo/tests/resources/test.jpg -diff
*/ext/fileinfo/tests/resources/test.jpg -diff
*/ext/fileinfo/tests/resources/test.mp3 -diff
*/ext/fileinfo/tests/resources/test.mp3 -diff
*/ext/fileinfo/tests/resources/test.png -diff
*/ext/fileinfo/tests/resources/test.png -diff
*/ext/gd/tests/Rochester-Regular.otf -diff
*/ext/gd/tests/Tuffy.ttf -diff
*/ext/gd/tests/Tuffy.ttf -diff
*/ext/gd/tests/bug37346.gif -diff
*/ext/gd/tests/bug37346.gif -diff
*/ext/gd/tests/bug38112.gif -diff
*/ext/gd/tests/bug38112.gif -diff
*/ext/gd/tests/bug43121.gif -diff
*/ext/gd/tests/bug43121.gif -diff
*/ext/gd/tests/conv_test.gif -diff
*/ext/gd/tests/conv_test.gif -diff
*/ext/gd/tests/conv_test.jpeg -diff
*/ext/gd/tests/conv_test.jpeg -diff
*/ext/gd/tests/conv_test.png -diff
*/ext/gd/tests/conv_test.png -diff
*/ext/gd/tests/crafted.gd2 -diff
*/ext/gd/tests/crafted.gd2 -diff
*/ext/gd/tests/php.gif -diff
*/ext/gd/tests/php.gif -diff
*/ext/gd/tests/src.gd2 -diff
*/ext/gd/tests/src.gd2 -diff
*/ext/gd/tests/src.wbmp -diff
*/ext/gd/tests/src.wbmp -diff
*/ext/gd/tests/test.png -diff
*/ext/gd/tests/test.png -diff
*/ext/gd/tests/test8859.ttf -diff
*/ext/gd/tests/test8859.ttf -diff
*/ext/gettext/tests/locale/en/LC_CTYPE/dgettextTest.mo -diff
*/ext/gettext/tests/locale/en/LC_CTYPE/dgettextTest.mo -diff
*/ext/gettext/tests/locale/en/LC_CTYPE/dgettextTest_switch.mo -diff
*/ext/gettext/tests/locale/en/LC_CTYPE/dgettextTest_switch.mo -diff
*/ext/gettext/tests/locale/en/LC_CTYPE/dngettextTest.mo -diff
*/ext/gettext/tests/locale/en/LC_CTYPE/dngettextTest.mo -diff
*/ext/gettext/tests/locale/en/LC_MESSAGES/dgettextTest.mo -diff
*/ext/gettext/tests/locale/en/LC_MESSAGES/dgettextTest.mo -diff
*/ext/gettext/tests/locale/en/LC_MESSAGES/dgettextTest_switch.mo -diff
*/ext/gettext/tests/locale/en/LC_MESSAGES/dgettextTest_switch.mo -diff
*/ext/gettext/tests/locale/en/LC_MESSAGES/dngettextTest.mo -diff
*/ext/gettext/tests/locale/en/LC_MESSAGES/dngettextTest.mo -diff
*/ext/gettext/tests/locale/en/LC_MESSAGES/messages.mo -diff
*/ext/gettext/tests/locale/en/LC_MESSAGES/messages.mo -diff
*/ext/gettext/tests/locale/fi/LC_MESSAGES/messages.mo -diff
*/ext/gettext/tests/locale/fi/LC_MESSAGES/messages.mo -diff
*/ext/iconv/tests/eucjp2iso2022jp.php -diff
*/ext/iconv/tests/eucjp2sjis.php -diff
*/ext/iconv/tests/eucjp2utf8.php -diff
*/ext/iconv/tests/iconv001.php -diff
*/ext/iconv/tests/iconv001.php.expectf -diff
*/ext/iconv/tests/iconv_mime_encode.php -diff
*/ext/iconv/tests/iconv_strlen.php -diff
*/ext/iconv/tests/iconv_strpos.php -diff
*/ext/iconv/tests/iconv_strrpos.php -diff
*/ext/iconv/tests/iconv_substr.php -diff
*/ext/iconv/tests/iconv_substr.php.expectf -diff
*/ext/iconv/tests/ob_iconv_handler.php -diff
*/ext/iconv/tests/ob_iconv_handler.php.expectf -diff
*/ext/iconv/tests/translit-failure.php -diff
*/ext/iconv/tests/translit-utf8.php.expectf -diff
*/ext/intl/tests/_files/resourcebundle/es.res -diff
*/ext/intl/tests/_files/resourcebundle/res_index.res -diff
*/ext/intl/tests/_files/resourcebundle/root.res -diff
*/ext/json/tests/bug53946.php -diff
*/ext/json/tests/bug53946.php.expectf -diff
*/ext/mbstring/tests/bug26639.php -diff
*/ext/mbstring/tests/bug26639.php.expectf -diff
*/ext/mbstring/tests/casefold.php -diff
*/ext/mbstring/tests/casefold.php.expectf -diff
*/ext/mbstring/tests/common.inc -diff
*/ext/mbstring/tests/common.inc -diff
*/ext/mbstring/tests/mb_convert_encoding.php -diff
*/ext/mbstring/tests/mb_convert_encoding.php.expectf -diff
*/ext/mbstring/tests/mb_convert_variables.php -diff
*/ext/mbstring/tests/mb_convert_variables.php.expectf -diff
*/ext/mbstring/tests/mb_detect_encoding.php -diff
*/ext/mbstring/tests/mb_ereg.php -diff
*/ext/mbstring/tests/mb_ereg_search_pos.php -diff
*/ext/mbstring/tests/mb_ereg_search_xxx.php -diff
*/ext/mbstring/tests/mb_ereg_search_xxx.php.expectf -diff
*/ext/mbstring/tests/mb_http_input.php -diff
*/ext/mbstring/tests/mb_http_input.php.expectf -diff
*/ext/mbstring/tests/mb_output_handler_euc_jp.php -diff
*/ext/mbstring/tests/mb_output_handler_euc_jp.php.expectf -diff
*/ext/mbstring/tests/mb_output_handler_shift_jis.php -diff
*/ext/mbstring/tests/mb_output_handler_shift_jis.php.expectf -diff
*/ext/mbstring/tests/mb_send_mail02.php -diff
*/ext/mbstring/tests/mb_send_mail04.php.expectf -diff
*/ext/mbstring/tests/mb_send_mail05.php -diff
*/ext/mbstring/tests/mb_send_mail06.php -diff
*/ext/mbstring/tests/mb_send_mail06.php.expectf -diff
*/ext/mbstring/tests/mb_send_mail07.php -diff
*/ext/mbstring/tests/mb_strcut.php -diff
*/ext/mbstring/tests/mb_strcut.php.expectf -diff
*/ext/mbstring/tests/mb_strimwidth.php -diff
*/ext/mbstring/tests/mb_strimwidth.php.expectf -diff
*/ext/mbstring/tests/mb_stripos.php -diff
*/ext/mbstring/tests/mb_strlen.php -diff
*/ext/mbstring/tests/mb_strpos.php -diff
*/ext/mbstring/tests/mb_strwidth.php -diff
*/ext/mbstring/tests/mb_substr.php -diff
*/ext/mbstring/tests/mb_substr_count.php -diff
*/ext/mbstring/tests/overload01.php -diff
*/ext/mbstring/tests/overload02.php -diff
*/ext/mbstring/tests/simpletest.php -diff
*/ext/mbstring/tests/simpletest.php.expectf -diff
*/ext/mbstring/tests/zend_multibyte-01.php -diff
*/ext/mbstring/tests/zend_multibyte-01.php.expectf -diff
*/ext/mbstring/tests/zend_multibyte-04.php -diff
*/ext/mbstring/tests/zend_multibyte-08.php -diff
*/ext/mysqli/tests/mysqli_real_escape_string_big5.php -diff
*/ext/mysqli/tests/mysqli_real_escape_string_eucjpms.php -diff
*/ext/mysqli/tests/mysqli_real_escape_string_euckr.php -diff
*/ext/mysqli/tests/mysqli_real_escape_string_gb2312.php -diff
*/ext/pcre/tests/007.php.expectf -diff
*/ext/pcre/tests/locales.php -diff
*/ext/pdo/tests/bug_36798.php -diff
*/ext/pdo/tests/bug_36798.php.expectf -diff
*/ext/phar/tests/019.phar.php -diff
*/ext/phar/tests/files/stuboflength1041.phar -diff
*/ext/phar/tests/files/stuboflength1041.phar -diff
*/ext/phar/tests/tar/files/P1-1.0.0.tgz -diff
*/ext/phar/tests/tar/files/P1-1.0.0.tgz -diff
*/ext/session/tests/session_id_error3.php -diff
*/ext/session/tests/session_id_error3.php.expectf -diff
*/ext/soap/tests/bugs/bug28969.php -diff
*/ext/soap/tests/bugs/bug28969.php.expectf -diff
*/ext/soap/tests/bugs/bug38005.php -diff
*/ext/soap/tests/bugs/bug38005.php.expectf -diff
*/ext/soap/tests/bugs/bug38067.php -diff
*/ext/soap/tests/bugs/bug38067.php.expectf -diff
*/ext/soap/tests/interop/Round4/GroupI/r4_groupI_xsd_006w.php -diff
*/ext/standard/tests/array/locale_sort.php -diff
*/ext/standard/tests/array/locale_sort.php.expectf -diff
*/ext/standard/tests/file/stream_rfc2397_003.gif -diff
*/ext/standard/tests/file/stream_rfc2397_003.gif -diff
*/ext/standard/tests/general_functions/002.php.expectf -diff
*/ext/standard/tests/general_functions/006.php.expectf -diff
*/ext/standard/tests/general_functions/gettype_settype_variation5.php.expectf -diff
*/ext/standard/tests/general_functions/gettype_settype_variation6.php.expectf -diff
*/ext/standard/tests/general_functions/gettype_settype_variation7.php.expectf -diff
*/ext/standard/tests/general_functions/gettype_settype_variation8.php.expectf -diff
*/ext/standard/tests/image/200x100.bmp -diff
*/ext/standard/tests/image/200x100.bmp -diff
*/ext/standard/tests/image/200x100.gif -diff
*/ext/standard/tests/image/200x100.gif -diff
*/ext/standard/tests/image/200x100.jpg -diff
*/ext/standard/tests/image/200x100.jpg -diff
*/ext/standard/tests/image/200x100.png -diff
*/ext/standard/tests/image/200x100.png -diff
*/ext/standard/tests/image/200x100.swf -diff
*/ext/standard/tests/image/200x100.swf -diff
*/ext/standard/tests/image/200x100.tif -diff
*/ext/standard/tests/image/200x100.tif -diff
*/ext/standard/tests/image/200x100_unknown.unknown -diff
*/ext/standard/tests/image/200x100_unknown.unknown -diff
*/ext/standard/tests/image/246x247.png -diff
*/ext/standard/tests/image/246x247.png -diff
*/ext/standard/tests/image/384x385.png -diff
*/ext/standard/tests/image/384x385.png -diff
*/ext/standard/tests/image/75x50.wbmp -diff
*/ext/standard/tests/image/75x50.wbmp -diff
*/ext/standard/tests/image/bug13213.jpg -diff
*/ext/standard/tests/image/bug13213.jpg -diff
*/ext/standard/tests/image/test.gif -diff
*/ext/standard/tests/image/test.gif -diff
*/ext/standard/tests/image/test13pix.swf -diff
*/ext/standard/tests/image/test13pix.swf -diff
*/ext/standard/tests/image/test1bpix.bmp -diff
*/ext/standard/tests/image/test1bpix.bmp -diff
*/ext/standard/tests/image/test1pix.bmp -diff
*/ext/standard/tests/image/test1pix.bmp -diff
*/ext/standard/tests/image/test1pix.jp2 -diff
*/ext/standard/tests/image/test1pix.jp2 -diff
*/ext/standard/tests/image/test1pix.jpc -diff
*/ext/standard/tests/image/test1pix.jpc -diff
*/ext/standard/tests/image/test1pix.jpg -diff
*/ext/standard/tests/image/test1pix.jpg -diff
*/ext/standard/tests/image/test2pix.gif -diff
*/ext/standard/tests/image/test2pix.gif -diff
*/ext/standard/tests/image/test4pix.gif -diff
*/ext/standard/tests/image/test4pix.gif -diff
*/ext/standard/tests/image/test4pix.iff -diff
*/ext/standard/tests/image/test4pix.iff -diff
*/ext/standard/tests/image/test4pix.png -diff
*/ext/standard/tests/image/test4pix.png -diff
*/ext/standard/tests/image/test4pix.psd -diff
*/ext/standard/tests/image/test4pix.psd -diff
*/ext/standard/tests/image/test4pix.swf -diff
*/ext/standard/tests/image/test4pix.swf -diff
*/ext/standard/tests/image/test4pix.tif -diff
*/ext/standard/tests/image/test4pix.tif -diff
*/ext/standard/tests/image/testAPP.jpg -diff
*/ext/standard/tests/image/testAPP.jpg -diff
*/ext/standard/tests/misc/get_browser_basic.php.expectf -diff
*/ext/standard/tests/misc/get_browser_error.php.expectf -diff
*/ext/standard/tests/misc/get_browser_variation1.php.expectf -diff
*/ext/standard/tests/serialize/006.php -diff
*/ext/standard/tests/serialize/006.php.expectf -diff
*/ext/standard/tests/strings/bug20934.php.expectf -diff
*/ext/standard/tests/strings/bug37244.php.expectf -diff
*/ext/standard/tests/strings/chr_ord.php.expectf -diff
*/ext/standard/tests/strings/get_html_translation_table_basic10.php.expectf -diff
*/ext/standard/tests/strings/get_html_translation_table_basic4.php.expectf -diff
*/ext/standard/tests/strings/get_html_translation_table_basic6.php.expectf -diff
*/ext/standard/tests/strings/htmlentities.php -diff
*/ext/standard/tests/strings/htmlentities.php.expectf -diff
*/ext/standard/tests/strings/htmlentities04.php.expectf -diff
*/ext/standard/tests/strings/htmlentities08.php.expectf -diff
*/ext/standard/tests/strings/htmlentities13.php.expectf -diff
*/ext/standard/tests/strings/htmlentities14.php.expectf -diff
*/ext/standard/tests/strings/htmlentities15.php -diff
*/ext/standard/tests/strings/htmlentities15.php.expectf -diff
*/ext/standard/tests/strings/htmlentities23.php.expectf -diff
*/ext/standard/tests/strings/htmlentities24.php.expectf -diff
*/ext/standard/tests/strings/md5_file.php.expectf -diff
*/ext/standard/tests/strings/printf.php.expectf -diff
*/ext/standard/tests/strings/printf_64bit.php.expectf -diff
*/ext/standard/tests/strings/sprintf_variation21.php.expectf -diff
*/ext/standard/tests/strings/sprintf_variation22.php.expectf -diff
*/ext/standard/tests/strings/sprintf_variation27.php.expectf -diff
*/ext/standard/tests/strings/sprintf_variation53.php.expectf -diff
*/ext/standard/tests/strings/str_pad.php.expectf -diff
*/ext/standard/tests/strings/str_repeat.php.expectf -diff
*/ext/standard/tests/strings/str_replace.php.expectf -diff
*/ext/standard/tests/strings/strcasecmp.php.expectf -diff
*/ext/standard/tests/strings/strcmp.php.expectf -diff
*/ext/standard/tests/strings/strcspn_variation5.php.expectf -diff
*/ext/standard/tests/strings/strcspn_variation9.php.expectf -diff
*/ext/standard/tests/strings/strlen.php.expectf -diff
*/ext/standard/tests/strings/strpos.php.expectf -diff
*/ext/standard/tests/strings/strspn_variation5.php.expectf -diff
*/ext/standard/tests/strings/strspn_variation9.php.expectf -diff
*/ext/standard/tests/strings/strstr.php.expectf -diff
*/ext/standard/tests/strings/strtoupper.php -diff
*/ext/standard/tests/strings/strtoupper.php.expectf -diff
*/ext/standard/tests/strings/vfprintf_variation10.php.expectf -diff
*/ext/standard/tests/strings/vfprintf_variation9.php.expectf -diff
*/ext/standard/tests/strings/vprintf_variation10.php.expectf -diff
*/ext/standard/tests/strings/vprintf_variation9.php.expectf -diff
*/ext/standard/tests/strings/vsprintf_variation10.php.expectf -diff
*/ext/standard/tests/strings/vsprintf_variation9.php.expectf -diff
*/ext/xml/tests/xml006.php -diff
*/ext/xml/tests/xml007.php -diff
*/ext/xml/tests/xml007.php.expectf -diff
*/ext/xsl/tests/xslt.xml -diff
*/ext/xsl/tests/xslt.xml -diff
*/ext/xsl/tests/xslt.xsl.gz -diff
*/ext/xsl/tests/xslt.xsl.gz -diff
*/ext/xsl/tests/xslt001.php.expectf -diff
*/ext/xsl/tests/xslt002.php.expectf -diff
*/ext/xsl/tests/xslt003.php.expectf -diff
*/ext/xsl/tests/xslt005.php.expectf -diff
*/ext/xsl/tests/xslt006.php.expectf -diff
*/ext/xsl/tests/xslt007.php.expectf -diff
*/ext/xsl/tests/xslt008.php.expectf -diff
*/ext/xsl/tests/xslt008.php.expectf -diff
*/ext/xsl/tests/xslt012.php.expectf -diff
*/ext/zip/tests/binarynull.zip -diff
*/ext/zip/tests/bug40228.zip -diff
*/ext/zip/tests/bug49072.zip -diff
*/ext/zip/tests/bug7658.odt -diff
*/ext/zip/tests/bug8009.zip -diff
*/ext/zip/tests/pecl12414.zip -diff
*/ext/zip/tests/test.zip -diff
*/ext/zip/tests/test_procedural.zip -diff
*/ext/zip/tests/test_with_comment.zip -diff
*/ext/zlib/tests/004.txt.gz -diff
*/ext/zlib/tests/004.txt.gz -diff
*/ext/zlib/tests/bug55544-win.php.expectf -diff
*/ext/zlib/tests/bug55544.php.expectf -diff
*/ext/zlib/tests/ob_001.php.expectf -diff
*/ext/zlib/tests/ob_003.php.expectf -diff
*/ext/zlib/tests/ob_004.php.expectf -diff
*/ext/zlib/tests/zlib_filter_deflate2.php.expectf -diff
*/tests/basic/022.php -diff
*/tests/basic/022.php.expectf -diff
*/tests/output/ob_018.php.expectf -diff
*/tests/strings/002.php -diff
*/tests/strings/002.php.expectf -diff
