.commit-template
*.swp
*.php.diff
*.php.out
*.php.type-errors.diff
*.php.type-errors.out
*.hack.diff
*.hack.out
*.hack.type-errors.diff
*.hack.type-errors.out
*.css.map
*.stdout
*.stderr
.*.hhast.*cache
.sass-cache
.bundle
.DS_Store
*~
*.orig
*.rej
.var/
sdoc-cache.json
.docusaurus/
build/
node_modules/
